@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: black;
    color-scheme: dark;
}
